.Todo {
	display: flex;
	margin: 0 -3rem 4px;
	padding: 1.1rem 3rem;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, .1);
}

.Todo-buttons {
	flex-shrink: 0;
	padding-left: .7rem;
}

.Todo-buttons button {
	border: none;
	font-size: 1em;
	margin: .4em;
	background: none;
	cursor: pointer;
	color: #fff;
	-webskit-appearance: none;
}

.Todo-edit-form {
	display: flex;
	flex-wrap: wrap;
}

.Todo-edit-form label {
	min-width: 100%;
	margin-bottom: .5rem;
	font-size: 1.3rem;
}

.Todo-edit-form input {
	flex-grow: 1;
	border: none;
	background: #f7f1f1;
	padding: 0 1.5rem;
	font-size: initial;
}

.Todo-edit-form button {
	padding: 0 1.3rem;
	border: none;
	background: #ff6666;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid rgba(255, 255, 255, .3);
	margin-left: 5px;
	cursor: pointer;
	transition: background .2s east-out;
}

.Todo-edit-form button:hover {
	background: #ff5e5e;
}

.Todo-edit-form input,
.Todo-edit-form button {
	font-family: "Quicksand", sans-serif;
	height: 3rem;
}
